body {
  background-color: #e2e1e1;
  text-align: center;
  font-family: sans-serif;
}

input {
  width: 95%;
  display: block;
  margin: 16px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
}

h1,
p {
  color: #292929e1;
}

h2,
h4 {
  color: #0d5158;
}

h1 {
  font-size: 60px;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #013b3f;
  color: #fff;
  border: none;
}

header {
  margin: 40px 20px 0px 20px;
  font-size: 0;
  font-family: sans-serif;
  line-height: 45px;
}

header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
}

main {
  margin-top: 285px;
  text-align: center;
}

section {
  padding-top: 1.5em;
}

p::selection {
  color: whitesmoke;
  background: #292929e1;
}

.img-logo {
  display: block;
  margin: 0 auto;
}

.fixed-header {
  position: sticky;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 15%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #013b3f;
}

.nav-item {
  display: inline;
  margin: 0 25px;
  color: #025157;
}

.action {
  width: 15%;
  text-align: right;
  font-size: 14px;
}

.action-link {
  color: #67b54b;
  text-decoration: none;
}

.action-button {
  margin: 0 10px;
  background-color: #67b54b;
  color: #fff;
  padding: 12px 14px;
}

.promo {
  width: 90%;
  display: flex;
  margin: 100px auto;
  align-items: center;
  justify-content: space-between;
}

.promo-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publish {
  justify-content: space-between;
}

.publish h2 {
  color: #025157;
}

.publish p {
  color: #343434;
}

.publish form {
  background-color: transparent;
}

.publish form p {
  color: #969696;
}

.who {
  background-color: #a1d683;
  display: flex;
  text-align: left;
}

.who h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

.who img {
  width: 100%;
}

.who button {
  font-size: 1rem;
  padding: 1rem 1.5rem;
}

.who-use {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin: 8rem;
}

.who-use p {
  color: #495443;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.8em;
}

.who-banner {
  background-color: #fff;
  width: 40%;
  margin: 4rem 8rem;
  border-radius: 1.5rem;
}

.who-banner-container {
  display: flex;
  position: relative;
}

.who-banner-logo {
  position: absolute;
  background-color: #f9da73;
  top: -5em;
  right: 1.5em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.who-banner-logo img {
  margin-top: 1.8em;
}

.who-banner-content {
  margin: 0.5rem;
  padding: 0.5rem;
}

.who-banner-content p {
  font-size: 1.5rem;
  color: #000;
}

.who-banner-footer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.who-banner-footer p {
  font-size: 1rem;
  margin: 10px;
  color: #a3a3a3;
}

.who-banner-footer img {
  width: 30px;
  height: 30px;
}

button:hover {
  background-color: #01282b;
  cursor: pointer;
}
/*
Regresa la cantidad de columnas a las que realmente necesitamos (2) 
y agrega la cantidad de filas que usaremos (2) 
teniendo en cuenta que el alto será de 330px. 
Una vez logrado, 
¿cómo se te ocurre que podrías usar la unidad de 
fr para indicar el alto de las filas?

.features {
  display: grid;
  height: 660px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.features > .feature-art {
  background-color: rgb(115, 160, 160);
  margin: 10px;
}

*/
.cards {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #0d5158;
  padding: 4% 8%;
}

.card-art {
  border-radius: 8px;
  display: grid;
  text-align: left;
  background-color: #fff;
  grid-template-columns: 1fr 35%;
  margin: 1rem;
}

.card-section {
  margin: 1.5em 0 1.5em 2.5em;
}

.card-section-icon {
  width: 15%;
}

.card-section > h3 {
  color: #343434;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-stretch: 28.8px;
}

.card-section > p {
  color: #7e7e7e;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.card-section > a {
  color: #67b54b;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.card-section-image {
  object-fit: cover;
  object-position: left;
  width: 100%;
  height: 100%;
}

.how-matcha-works h2,
h3 {
  font-family: "Alegreya", "Helvetica Neue", sans-serif;
  color: #025157;
}

.how-matcha-works a {
  color: #67b54b;
  text-decoration: none;
}

.how-matcha-works button {
  margin: 2% 0 5% 0;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #025157;
  color: #fff;
  font-size: 14px;
  font-stretch: 21px;
  font-weight: bolder;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.how-matcha-works {
  text-align: center;
  padding: 5% 10%;
  background-color: #fffbf7;
}

.how-matcha-works-main {
  padding: 0 12.5em;
}
.how-matcha-works-main > h2 {
  font-size: 50px;
  font-stretch: 60px;
}

.how-matcha-works-main p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-stretch: 27px;
  color: #46484c;
  font-weight: 800;
}

.how-matcha-works-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3%;
}

.how-matcha-works-art {
  padding: 1em 0;
  border: 1px solid #d4d3d3;
  border-radius: 4px;
  background-color: #fff;
}

.how-matcha-works-art > h3 {
  font-size: 30px;
  font-stretch: 36px;
}

.how-matcha-works-art p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #46484c;
  font-size: 15px;
  font-stretch: 22.5px;
  font-weight: bold;
}

.how-matcha-works-art a {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-stretch: 22.4px;
}

.how-matcha-works-art-img {
  width: 100%;
  height: 60%;
}

.how-matcha-works-art-logo-container {
  position: relative;
}
.how-matcha-works-art-logo-container > img {
  width: 10%;
  position: absolute;
  left: 10%;
  top: 20px;
}

.publish-form {
  background-color: teal;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .navbar,
  .action {
    display: none;
  }
  h1 {
    font-size: 30px;
  }

  main {
    margin-top: 0;
  }

  .publish > form {
    flex-direction: column;
  }

  .promo {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .promo-row > video {
    width: 100%;
  }

  .cards {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
  }

  .who {
    background-color: #a1d683;
    flex-direction: column;
  }

  .who-use {
    width: 50%;
  }

  .who-banner {
    width: 50%;
  }

  .how-matcha-works-main {
    padding: 0;
  }
  .how-matcha-works-container {
    grid-template: repeat(4, 1fr) / 1fr;
    row-gap: 50px;
    height: 100%;
  }
  .how-matcha-works-main > h2 {
    font-size: 25px;
    font-stretch: 30px;
  }
}
