body {
  background-color: #e2e1e1;
  text-align: center;
  font-family: sans-serif;
}

img {
  display: block;
  margin: 0 auto;
}

input {
  width: 95%;
  display: block;
  margin: 16px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
}

form {
  width: 90%;
  background-color: teal;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: left;
  display: inline-block;
}

h1,
p {
  color: #292929e1;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #013b3f;
  color: #fff;
  border: none;
}

p::selection {
  color: whitesmoke;
  background: #292929e1;
}

button:hover {
  background-color: #01282b;
  cursor: pointer;
}

header {
  margin: 40px 20px 0px 20px;
  font-size: 0;
  font-family: sans-serif;
  line-height: 45px;
}

.fixed-header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}

header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
}

section {
  padding-top: 1.5em;
}

.logo {
  width: 15%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #013b3f;
}

.nav-item {
  display: inline;
  margin: 0 25px;
  color: #025157;
}

.action {
  width: 15%;
  text-align: right;
  font-size: 14px;
}

.action-link {
  color: #67b54b;
  text-decoration: none;
}

.action-button {
  margin: 0 10px;
  background-color: #67b54b;
  color: #fff;
  padding: 12px 14px;
}

.promo {
  width: 90%;
  display: flex;
  margin: 100px auto;
  align-items: center;
  justify-content: space-between;
}

.promo-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publish {
  justify-content: space-between;
}

.publish h2 {
  color: #025157;
}

.publish p {
  color: #343434;
}

.publish form {
  background-color: transparent;
}

.publish form p {
  color: #969696;
}
